<div class="container">
	<h1>Create transaction</h1>
	<br>

	<div class="form-group">
	    <label for="fromAddress">From address</label>
	    <input type="text" class="form-control" id="fromAddress" aria-describedby="fromAddressHelp" [(ngModel)]="newTx.fromAddress">
	    <small id="fromAddressHelp" class="form-text text-muted">
	    	 </small>
  	</div>

  	<div class="form-group">
	    <label for="toAddress">To address</label>
	    <input type="text" class="form-control" id="toAddress" aria-describedby="toAddressHelp" [(ngModel)]="newTx.toAddress">
	    <small id="toAddressHelp" class="form-text text-muted">
	    	 </small>
  	</div>

	<div class="form-group">
	    <label for="name">Name</label>
	    <input type="text" class="form-control" id="name" aria-describedby="toAddressHelp" [(ngModel)]="newTx.name">
	    <small id="toAddressHelp" class="form-text text-muted">
	    	Name of the medicine.
	    </small>
  	</div>
	<div class="form-group">
	    <label for="name">Identity Code</label>
	    <input type="text" class="form-control" id="code" aria-describedby="toAddressHelp" [(ngModel)]="newTx.medUniqueCode">
	    <small id="toAddressHelp" class="form-text text-muted">
	    	Identity Code of the medicine.
	    </small>
  	</div>

  	<div class="form-group">
	    <label for="amount">Quantity</label>
	    <input type="number" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="newTx.amount">
	    <small id="amountHelp" class="form-text text-muted">
	    	
	    </small>
  	</div>

  	<button (click)="createTransaction()" type="submit" class="btn btn-primary">Sign & create transaction</button>

</div>
